[submodule "Electrobass/Source/Electro_backend"]
	path = Electrobass/Source/Electro_backend
	url = git@github.com:davispolito/Electro_backend.git
	branch = main
[submodule "Electrobass/Source/sound_meter"]
	path = Electrobass/Source/sound_meter
	url = git@github.com:SoundDevelopment/sound_meter.git
	branch = main
[submodule "Electrobass/Source/Electro_backend/MTS-ESP"]
	path = Electrobass/Source/Electro_backend/MTS-ESP
	url = git@github.com:ODDSound/MTS-ESP.git
